p {
  font-family: Lato;
  margin-left:10px;
}

p:nth-of-type(5) {
  margin-left:5px;
  font-weight: bold;
  color: #000000;
  background-color: #0bc22a52;
  border: 5px solid #03eb0eda;
  padding: 5px
}